{{!--
  Layout: ember-tumblr-data
  This template will be rendered with the route controller's
  context when `device/layout.isAbout/desktop` is true.
--}}

<screen>
  <container>
    {{#each model as |about|}}
      {{#matport-big-card bgSrc=about.leadImage title="" as |card|}}
        <h3 class={{card.headlineClass}}>{{about.title}}</h3>
        <div class={{card.textClass}}>
          <p>{{about.exposition}}</p>
        </div>
      {{/matport-big-card}}
    {{/each}}
  </container>
</screen>